// COLORS
$cyan: hsl(179, 62%, 43%);
$green: hsl(71, 73%, 54%);
$white: hsl(255, 100%, 100%);
$light-gray: hsl(204, 43%, 93%);
$gray: hsl(218, 22%, 67%);

// FONT WEIGHT
$light: 200;
$med: 400;
$bold: 700;

// PADDING

$p-xl: 2.5rem;
$p-sm: 1.5rem;